

<div class="login-page">
	<div class="h-100 container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
				<div class="card login-panel p-5">
					<div class="card-body">
						<h2 class="text-center mb-5">Welcome!</h2>

						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" [attr.disabled]="disabled ? '' : null">
						</div>

						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" [attr.disabled]="disabled ? '' : null">
						</div>

						<button (click)="_login();" class="btn btn-primary btn-block" [attr.disabled]="disabled ? '' : null">Login</button>
						<p class="text-center mt-5">Don't have an account yet? <a href="#/signup">Signup Now!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>