

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Crawler</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hidebar" aria-controls="hidebar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="hidebar">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="javascript:location.reload();" *ngIf="!isLoading"><span class="fas fa-redo-alt mr-1"></span>Refresh</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:location.replace('/')" *ngIf="!isLoading"><span class="fas fa-sign-out-alt mr-1"></span>Logout</a>
			</li>
		</ul>
	</div>
</nav>