

<div class="signup-page">
	<div class="h-100 container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
				<div class="card signup-panel p-5">
					<div class="card-body">
						<h3>Signup Form</h3>
						<p class="mb-4">We will keep you identity safe and secured. Kindly fill in the required information. Thank you.</p>

						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" [attr.disabled]="disabled ? '' : null">
						</div>

						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" [attr.disabled]="disabled ? '' : null">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Full Name" [(ngModel)]="fullname" [attr.disabled]="disabled ? '' : null">
						</div>

						<div class="form-group">
							<input type="Address" class="form-control" placeholder="Address" [(ngModel)]="address" [attr.disabled]="disabled ? '' : null">
						</div>

						<button class="btn btn-primary btn-block" (click)="_signup();" [attr.disabled]="disabled ? '' : null">Register</button>
						<p class="text-center mt-5">Already have an account? <a href="#/login">Login Here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>