

<!-- {{ modifyTitle() }}
{{ displayTitle() }}

{{ changeTitle2(4.5) }} -->

<app-navbar [isLoading]="loadingState"></app-navbar>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card mt-4 p-1">
				<div class="card-body">

					<div class="form-row">
						<div class="col-12 col-lg-8 col-sm-12 mt-2">
							<input type="url" class="form-control" placeholder="Ex. Android Mobile" [(ngModel)]="searchTerm">
							<label class="text-muted text-uppercase">SEARCH TERM</label>
						</div>

						<div class="col-12 col-lg-2 col-sm-7 mt-2">
							<select class="form-control">
								<option>Amazon.com</option>
							</select>
							<label class="text-muted text-uppercase">Target Website</label>
						</div>

						<div class="col-12 col-lg-2 col-sm-5 mt-2">
							<button class="btn btn-primary btn-block" (click)="_addQueue();"><span class="fas fa-plus mr-1"></span> Queue</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">

		<!-- SEARCH RESULTS HERE -->
		<div class="col-6 mb-5" *ngFor="let nth of results; index as i;">
			<div *ngIf="nth['term']; else invalid_mission">
				<h4 [ngClass]="{'text-success': (nth['status'] == 0), 'text-muted': (nth['status'] == null), 'text-warning': (nth['status'] == 1)}">{{ nth["term"] }}</h4>
				<p>
					<span class="lead text-warning" *ngIf="nth['status'] == 1">In Queue</span>
					<span class="lead text-success" *ngIf="nth['status'] == 0">Complete</span>
				</p>
				<span class="text-muted">{{ nth["created"] }}</span>
			</div>
			<ng-template #invalid_mission><h5 class="text-warning">- Invalid Mission Format: {{ nth["id"] }} -</h5></ng-template>
		</div>
	</div>
</div>